{% extends 'base.html.twig' %}

{% block title %}Changement de mot de passe{% endblock %}

{% block body %}
    <main>
        {% if mustChange %}
            <p class="warning">
                <strong>Attention !</strong> Vous devez changer votre mot de passe avant de continuer.
            </p>
        {% endif %}

        {{ form_start(changePasswordForm, {'attr': {'class': 'form'}}) }}
        <h2>Changement de mot de passe</h2>

        <div class="formWidget">
            {{ form_label(changePasswordForm.newPassword.first, null, {'label_attr': {'class': 'formLabel'}}) }}
            {{ form_widget(changePasswordForm.newPassword.first) }}
            {{ form_errors(changePasswordForm.newPassword.first, {'attr': {'class': 'formError'}}) }}
        </div>

        <div class="formWidget">
            {{ form_label(changePasswordForm.newPassword.second, null, {'label_attr': {'class': 'formLabel'}}) }}
            {{ form_widget(changePasswordForm.newPassword.second) }}
            {{ form_errors(changePasswordForm.newPassword.second, {'attr': {'class': 'formError'}}) }}
        </div>

        <button type="submit" class="submitButton">
            Valider mon nouveau mot de passe
        </button>
        {{ form_end(changePasswordForm) }}

        {% if not mustChange %}
            <p>
                <a href="{{ path('home') }}">Retour à l'accueil</a>
            </p>
        {% endif %}
    </main>
{% endblock %}