{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <main>
        <form method="post" class="form">
            <h2>Connexion</h2>

            {% if error %}
                <p class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
            {% endif %}

            {% if app.user %}
                <p>Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a></p>
            {% endif %}

            <div class="formWidget">
                <label class="formLabel" for="username">Pseudo</label>
                <input type="text" value="{{ last_username }}" name="_username" id="username" autocomplete="username" required autofocus>
            </div>

            <div class="formWidget">
                <label class="formLabel" for="password">Mot de passe</label>
                <input type="password" name="_password" id="password" autocomplete="current-password" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="formWidget">
                <label>
                    <input type="checkbox" name="_remember_me" id="_remember_me">
                    Se souvenir de moi
                </label>
            </div>

            <button class="submitButton" type="submit">
                Se connecter
            </button>

            <p>
                <a href="{{ path('password_reset_ask') }}">Mot de passe oublié ?</a>
            </p>
        </form>
    </main>
{% endblock %}