<nav>
    {% if app.user %}
        <div>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('admin_dashboard') }}">Dashboard</a>
                <a href="{{ path('color_list') }}">Couleurs</a>
            {% endif %}
            <a href="{{ path('home') }}">Accueil</a>
            <a href="{{ path('cards_list') }}">Cartes</a>
            <a href="{{ path('media_list') }}">Médias</a>
        </div>
        <div>
            <p>Bonjour {{ app.user.username }}</p>
            <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% endif %}
</nav>