{% extends 'base.html.twig' %}

{% block body %}
    <h2>Liste des cartes</h2>
    <a href="{{ path('cards_add') }}"><button class="buttonCreate">Ajouter une carte</button></a>
    {% if cards|length == 0 %}
            <p>Pas de cartes dans la base de donnée</p>
        {% else %}
            {% for card in cards %}
                <div>
                    <a href="{{ path('cards_details', {'id':card.id}) }}"><h3>{{ card.title }}</h3></a>
                    <p>{{ card.theme.name }}</p>
                </div>
            {% endfor %}
        {% endif %}
{% endblock %}

{% block title %}
    {{ parent() }} Listes des cartes
{% endblock %}

