{% extends 'base.html.twig' %}

{% block title %}Créer un utilisateur{% endblock %}

{% block body %}

    <h2>Créer un utilisateur</h2>

    {{ form_start(registrationForm) }}

        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.plainPassword.first) }}
        {{ form_row(registrationForm.plainPassword.second) }}
        {{ form_row(registrationForm.roles) }}
        {{ form_row(registrationForm.agreeTerms) }}
        {{ form_row(registrationForm.submit) }}

    {{ form_end(registrationForm) }}

    <a href="{{ path('admin_dashboard') }}">Retour au dashboard</a>
{% endblock %}