{# templates/security/change_password.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Changement de mot de passe{% endblock %}

{% block body %}
    <div>
        <div>
            <div>
                {% if mustChange %}
                    <div>
                        <strong>Attention !</strong> Vous devez changer votre mot de passe avant de continuer.
                    </div>
                {% endif %}

                <div>
                    <div>
                        <h3>Changement de mot de passe</h3>
                    </div>
                        {% endfor %}

                        {{ form_start(changePasswordForm) }}
                        <div>
                            {{ form_row(changePasswordForm.newPassword.first) }}
                        </div>

                        <div>
                            {{ form_row(changePasswordForm.newPassword.second) }}
                        </div>

                        <div class="d-grid">
                            <button type="submit" class="submitButton">
                                Valider mon nouveau mot de passe
                            </button>
                        </div>
                        {{ form_end(changePasswordForm) }}
                    </div>
                </div>

                {% if not mustChange %}
                    <div >
                        <a href="{{ path('home') }}" >
                            Retour à l'accueil
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}